.card-container-title-row
  display: flex
  justify-content: space-between
  .title-arrow-container
    display: flex
    align-items: center
    color: #565656
  .title
    font-size: 150%
    margin-right: .75em